<html>
  <head>
    <title>Couch Ticketing</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <h1><a href="/">Couch Ticketing</a></h1>
    </div>
    <div id="test-meta">
      <%= params.inspect %>
    </div>
    <div id="content">
    <%= yield %>
    </div>
  </body>
</html>